name: Terraform Dev CI/CD

on:
  push:
    branches:
      - main
    paths:
      - "modules/**"
      - "environments/dev/**"

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: environments/dev
        run: terraform init

      - name: Terraform Validate
        working-directory: environments/dev
        run: terraform validate

      - name: Terraform Plan
        working-directory: environments/dev
        run: terraform plan -input=false -var "environment=dev" -var "region=${{ secrets.AWS_REGION }}"

      - name: Terraform Apply (Dev)
        working-directory: environments/dev
        run: terraform apply -auto-approve -input=false -var "environment=dev" -var "region=${{ secrets.AWS_REGION }}"
